# Esas Operatorlar

### Məşq 1: Aritmetik Operatorlar

In [66]:
10 +5 * 3

25

In [67]:
(10 + 5) * 3

45

In [68]:
20 /4

5.0

In [69]:
20//4

5

In [70]:
21//4

5

In [71]:
21%4

1

In [72]:
2**5

32

In [73]:
5 + 3 * 2 - 8 / 4**2

10.5

In [74]:
50 > 100

False

In [75]:
33 == 33.0

True

In [76]:
"Salam" != "dunya"

True

In [77]:
"Phyton" == 5

False

## Dəyişənlər və Məlumat Növləri

In [78]:
Şeher = "New York"
print ("New York")

New York

In [79]:
Seher = "London"
Seher = "Ldonon"
print (Seher)

Ldonon

In [80]:
Xal = 100
Xal -= 25
Xal *= 2
print( Xal)

150

In [81]:
"Dəyişən Adlandirma"
1, 2, 4

(1, 2, 4)

In [82]:
my_int = 99
my_str = "99"
my_float = 99.0
my_bool = False
print (type(None))

<class 'NoneType'>

## Strings in Detail

In [83]:
price_str = "25.99"
price_float = float(price_str)
price_float

25.99

In [84]:
quantityy = 3
quantityy_str = str(quantityy)
netice = quantityy_str + "maddeler"
print(netice)

3maddeler

In [85]:
frist_name = "Murad"
last_name = "Xanaliyev"
full_name = frist_name + " " + last_name 
separator = "-" *30
print(full_name)
print(separator)

Murad Xanaliyev
------------------------------

## Escape Characters

In [86]:
bir= "The file is located at:"
iki = "\nC:\\Users\\new_folder\\tabbed_file.txt"
uc = "\nHe said, "
my_file = bir + iki + uc + "It's a beautiful day."
print(my_file)

The file is located at:
C:\Users\new_folder\tabbed_file.txt
He said, It's a beautiful day.

In [87]:
s = "Programming is fun!"
print(s[4])
print(s[-1])
print(s[11:13])
print(s[3:7])
print(s[ ::-1])

r
!
 i
gram
!nuf si gnimmargorP

### String Methods

In [88]:
tweet = " WOW, what a great game! #sports #python "
print(tweet. lower())

 wow, what a great game! #sports #python

In [89]:
tweet = " WOW, what a great game! #sports #python "
print(tweet. upper())

 WOW, WHAT A GREAT GAME! #SPORTS #PYTHON

In [90]:
tweet = "    WOW, what a great game! #sports #python    "
print(tweet. strip())

WOW, what a great game! #sports #python

In [91]:
tweet =  ['WOW', 'what', 'a great', 'game!', '#sports', '#python'] 

tweet[5] ="#DataScience"
print(tweet)

['WOW', 'what', 'a great', 'game!', '#sports', '#DataScience']

In [92]:
tweet = "  WOW, what a great game! #sports #python  "
print(tweet.split())

['WOW,', 'what', 'a', 'great', 'game!', '#sports', '#python']

### Main Entrance and Exit

In [ ]:
name = input("Enter your name: ")
print("Hello", name)

In [ ]:

age = int(input("Enter your age: "))
print("Your age:", age)

Your age: 25

In [ ]:
current_year = int (input("Mark the current year: "))
print(current_year)

2025

In [ ]:
birth_year = int (input("Celebrate your birthday: "))
print(birth_year)

2000

In [ ]:
print(current_year - birth_year)

25

In [ ]:
item = "Laptop"
price = 1200.50
quantity = 2
total_cost = price * quantity 
print(total_cost)
print(f"item: {item}, quantity: {quantity}, Total cost: ${total_cost:,.2f}")
print("item {}, price {}, quantity {}, total_cost {}" .format(item, price, quantity, total_cost))

2401.0
item: Laptop, quantity: 2, Total cost: $2,401.00
item Laptop, price 1200.5, quantity 2, total_cost 2401.0

### List creation and access

In [ ]:
colors = ["red", "green", "blue", "yellow", "purple"]
print(colors[3])
print(colors[-1])
primary_colors = colors[0:3]
print(primary_colors)

yellow
purple
['red', 'green', 'blue']

In [ ]:
colors = ["red", "green", "blue", "yellow", "purple"]
colors[3] = "magenta"
colors.append("Cyan")
colors.insert(2,"orange")
del colors[3]
print(colors)

['red', 'green', 'orange', 'magenta', 'purple', 'Cyan']

In [ ]:
matris = [['X', 'O', 'X'],['O', 'X', 'O'],['X', 'O', ' ']]
matris[1][1]
print(matris[1][1])
matris[2][2] = "O"
print(matris[2])

X
['X', 'O', 'O']

### Tuples

In [ ]:
weekdays = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
print(weekdays[3])

Thursday

### Conditional Statements

In [ ]:
grade = int(input("Enter the value (0-100): "))
if grade >= 90:
    print("A")
elif grade >= 80:
    print("B")
elif grade >= 70:
    print("C")
elif grade >= 60:
    print("D")
else:
    print("F")

F

### Logical Operators

In [ ]:
print((10 > 5) and (5 < 3))

False

In [ ]:
print((10 > 5) or (5 < 3))

True

In [ ]:
print(not (5 == 5))

False

In [ ]:
print(1 < 3 < 5)

True

In [ ]:
print(1 < 3 and 3 > 5)

False

### Loop

In [ ]:
number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in number: 
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [ ]:
i = 10
while i >= 1:
    print(i)
    i -= 1

print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

In [ ]:
for num in range(1, 21): 
    if num % 3 == 0:       
        continue           
    if num > 15:          
        break              
    print(num)

In [ ]:
for num in range(1, 21):
    if num % 3 == 0:
        continue
    if num > 15:
        break
    print(num)

1
2
4
5
7
8
10
11
13
14

In [ ]:
count = 0 
while count <10:
    print(count)
    count +=1

0
1
2
3
4
5
6
7
8
9

### List Comprehensions

In [ ]:
words = ["apple", "banana", "cherry", "date"]
first_letters = []
for i in words:
   first_letters.append(i[0])
print(first_letters)

['a', 'b', 'c', 'd']

In [ ]:
numbers = [1, -2, 3, -4, 5, -6, 7, -8]
for num in numbers:
    if num > 0:
        print(num)

1
3
5
7

In [ ]:
numbers = [1, -2, 3, -4, 5, -6, 7, -8]
for num in numbers:
    if num > 0:
        print(num)
    else:
        print("negative")

1
negative
3
negative
5
negative
7
negative

In [ ]:
nested_list = [[1, 2], [3, 4], [5, 6]]
print(nested_list)
double = [n * 2 for sublist in  nested_list for n in sublist]
print(double)

[[1, 2], [3, 4], [5, 6]]
[2, 4, 6, 8, 10, 12]

In [ ]:
nested_list = [[2, 4], [6, 8], [10, 12]]
print(nested_list)
result = [n*2 for sub in nested_list for n in sub]
print(result)

[[2, 4], [6, 8], [10, 12]]
[4, 8, 12, 16, 20, 24]

### Advanced Data Structures and Functions

In [ ]:
movie = { "title": "Muxatarname", "director": "Davud Mirbagiri",
         "year": 2008, "genre": "epic historical-religious", } 

print(movie["title"])
movie ["rating"] = 8.5
movie["year"] = 2004
del movie["genre"]
print(movie)

Muxatarname
{'title': 'Muxatarname', 'director': 'Davud Mirbagiri', 'year': 2004, 'rating': 8.5}

In [ ]:
print(movie.keys())
print(movie.values())
print(movie.items())
print(movie.get("height", "Unknown"))
print("director" in movie)

dict_keys(['title', 'director', 'year', 'rating'])
dict_values(['Muxatarname', 'Davud Mirbagiri', 2004, 8.5])
dict_items([('title', 'Muxatarname'), ('director', 'Davud Mirbagiri'), ('year', 2004), ('rating', 8.5)])
Unknown
True

In [ ]:
employees = {"Ali": {"role": "Data Analyst", "Salary": 30000},
             "Hasan":{"role":"Designer", "Salary": 50000} }
print(employees["Ali"]["role"])
employees["Hasan"]['Salary'] = 58000
employees["Rauf"] = {"role": "Manager", "Salary": 90000}

print(employees)

Data Analyst
{'Ali': {'role': 'Data Analyst', 'Salary': 30000}, 'Hasan': 58000, 'Rauf': {'role': 'Manager', 'Salary': 90000}}

In [ ]:
numbers = [10, 20, 30, 20, 40, 10, 50]
unique_numbers = set(numbers)
print(unique_numbers)  
numbers += [60]
numbers += [10]
print(numbers)

{40, 10, 50, 20, 30}
[10, 20, 30, 20, 40, 10, 50, 60, 10]

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print(set1.union(set2))
print(set1.intersection(set2))
print((set1).difference(set2))
print((set2).difference(set1))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print(set1 | (set2))
print(set1 & (set2))
print((set1) - (set2))
print((set2) - (set1))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}

In [ ]:
def greeting():
    return "Hello World"

greeting()

'Hello World'

In [34]:
def calculate_area(width, height):
    return width * height
width = 5
height = 10
area = calculate_area(5,10)
print(area)

50

In [ ]:
def send_email(Recipient, Body, Subject="No subject"):
    print(f"To: {Recipient}")
    print(f"Subject: {Subject}")
    print(f"Body: {Body}")


send_email("example@example.com", "Salam! Bu test mesajidir.")

To: example@example.com
Subject: No subject
Body: Salam! Bu test mesajidir.
Subject

In [ ]:
def is_positive(number):
    return number > 0
  
print(is_positive(2))

True

In [21]:
x = 50

def update_x():
    x = 100
    print(f"Inside function: x = {x}")

update_x()
print(f"Outside function: x = {x}")

Inside function: x = 100
Outside function: x = 50

In [29]:
x = 50

def update_x_global():
    
     global x
     x = 200
    


update_x_global()
print(f"Outside function: x = {x}")

Outside function: x = 200